div {
    #holler {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( 33%, 1fr));
        margin-left: 150px;
    }
    img {
        max-height: 300px;
        max-width: 70px;
    } 

}