.main-banner {
  h2, p{
    bottom: 0;
  }
}

#map {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
  gap: 18px;
}

#contact {
  h2{
  text-align: center;
  padding: 20px;
  }
}